*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
public/assets/img/final-challenge/crystals/crystal-context.png filter=lfs diff=lfs merge=lfs -text
public/assets/img/final-challenge/crystals/crystal-fairness.png filter=lfs diff=lfs merge=lfs -text
public/assets/img/final-challenge/crystals/crystal-patterns.png filter=lfs diff=lfs merge=lfs -text
public/assets/img/final-challenge/crystals/crystal-prediction.png filter=lfs diff=lfs merge=lfs -text
public/assets/img/final-challenge/crystals/crystal-verification.png filter=lfs diff=lfs merge=lfs -text
public/assets/img/final-challenge/room1/inventory-frame.png filter=lfs diff=lfs merge=lfs -text
public/assets/img/final-challenge/room1/room-bg.png filter=lfs diff=lfs merge=lfs -text
public/assets/img/final-challenge/room1/token-crystal-clean.png filter=lfs diff=lfs merge=lfs -text
public/assets/img/final-challenge/room1/token-crystal-new.png filter=lfs diff=lfs merge=lfs -text
public/assets/img/final-challenge/room1/token-crystal-transparent.png filter=lfs diff=lfs merge=lfs -text
public/assets/img/mission-robot-pointing.png filter=lfs diff=lfs merge=lfs -text
public/assets/img/mission-robot-reading.png filter=lfs diff=lfs merge=lfs -text
public/assets/img/mission3-book.png filter=lfs diff=lfs merge=lfs -text
public/assets/img/mission3-robot-hallucination.png filter=lfs diff=lfs merge=lfs -text
public/assets/img/mission5-robot-training.png filter=lfs diff=lfs merge=lfs -text
public/assets/img/missions-robot-target.png filter=lfs diff=lfs merge=lfs -text
public/ethics/Adult_Consent_Form.pdf filter=lfs diff=lfs merge=lfs -text
public/ethics/Adult_Participant_Information_Sheet.pdf filter=lfs diff=lfs merge=lfs -text
public/ethics/Parent_Guardian_Consent_Form.pdf filter=lfs diff=lfs merge=lfs -text
public/ethics/Parent_Guardian_Participant_Information_Sheet.pdf filter=lfs diff=lfs merge=lfs -text
public/ethics/Young_Participant_Assent_Form.pdf filter=lfs diff=lfs merge=lfs -text
public/ethics/Young_Participant_Information_Sheet.pdf filter=lfs diff=lfs merge=lfs -text
